In [1]:
import json
import pandas as pd
import ast

In [2]:
df = pd.read_csv("company_reviews.csv", encoding="utf-8")

In [3]:
df.head(2)

,name,rating,reviews,description,happiness,ceo_approval,ceo_count,ratings,locations,roles,salary,interview_experience,interview_difficulty,interview_duration,interview_count,headquarters,employees,industry,revenue,website
0,Sitel,NaN,NaN,"Sitel Group’s 75,000 people across the globe c...","{'Work Happiness Score': '55', 'Achievement': ...",70%,"CEO Approval is based on 4,612 ratings","{'Work/Life Balance': '3.4', 'Compensation/Ben...","{'Paradise, NV': '5.0', 'Pioneer, OH': '4.7', ...","{'Tier 1 Agent': '5.0', 'Director of Operation...",{'Customer Service Representative': '$14.48 pe...,Favorable,Easy,About a day or two,Based on 645 interviews,"600 Brickell Ave Miami, FL 33131 Vereinigte St...","10,000+",Telecommunications,$1B to $5B (USD),Twitter\nFacebook\nSitel website
1,Meadowbrook Rehabilitation,3.7,21 reviews,You'll work with the most experienced and loya...,{},NaN,NaN,"{'Work/Life Balance': '4.1', 'Compensation/Ben...",{},{},{},Favorable,Easy,NaN,Based on 5 interviews,Illinois,NaN,Healthcare,NaN,Meadowbrook Rehabilitation website

In [17]:
ast.literal_eval(j)

{'Work Happiness Score': '55',
 'Achievement': '64',
 'Learning': '62',
 'Flexibility': '61',
 'Support': '60',
 'Compensation': '60',
 'Purpose': '60',
 'Appreciation': '59',
 'Management': '57',
 'Inclusion': '56',
 'Energy': '56',
 'Trust': '53',
 'Belonging': '52'}